<div>
  <h1>Page-3</h1>
  <a target="_blank" href="https://github.com/mastefano64/angular-load-dynamic-module/blob/master/src/app/page3/page3.component.html">page3.component.html</a>&nbsp;
  <a target="_blank" href="https://github.com/mastefano64/angular-load-dynamic-module/blob/master/src/app/page3/page3.component.ts">page3.component.ts</a>&nbsp;
</div>

<br>

<div>
  <button type="button" mat-raised-button color="primary" (click)="load()">Load</button>

  <ng-container *ngComponentOutlet="compfeature"></ng-container>
</div>
