<div class="pl-4 pr-4">
    <h1>Home</h1> 
    
    <p>
        Questo sample contine 4 pagine in cui vengono caricati dei componenti/moduli
    </p>

    <p>
        Page1: Il componente viene caricato utilizzando un ng-container e resolveComponentFactory()/createComponent()<br>       
    </p>

    <p>
        Page2: Il componente viene caricato utilizzando un ng-container e la direttiva ngComponentOutlet<br>       
    </p>

    <p>
        Page3: Viene caricato in modo dinamico un modulo che contine dei componenti. Il componente parent viene caricato utilizzando un ng-container e la direttiva ngComponentOutlet (vengono utilizzate le promise)<br>       
    </p>

    <p>
        Page4: Viene caricato in modo dinamico un modulo che contine dei componenti. Il componente parent viene caricato utilizzando un ng-container e la direttiva ngComponentOutlet (vengono utilizzate async/await)<br>       
    </p>
</div>
